.contact-info {
    display: flex;
    flex-direction: row; /* Change to row to align items horizontally */
    justify-content: center; /* Center the items in the container */
    gap: 1.5rem; /* Increase the space between the items */
}

.contact-info a {
color: #f31c1c;
text-decoration: none;
}

.contact-info a:hover {
text-decoration: underline;
}

